<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.atlanticbakery">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="n">
        <activity android:name="com.example.atlanticbakery.API_IssueProductionItems"></activity>
        <activity android:name="com.example.atlanticbakery.API_Nav2">

        </activity>
        <activity android:name="com.example.atlanticbakery.API_ReceivedSAP" />
        <activity android:name="com.example.atlanticbakery.API_SelectedItems" />
        <activity android:name="com.example.atlanticbakery.API_Nav" />
        <activity android:name="com.example.atlanticbakery.API_ItemInfo" />
        <activity android:name="com.example.atlanticbakery.ManualReceived" />
        <activity android:name="com.example.atlanticbakery.APIReceived" />
        <activity android:name="com.example.atlanticbakery.APITransfer" />
        <activity android:name="com.example.atlanticbakery.Users" />
        <activity android:name="com.example.atlanticbakery.ItemReceivable" />
        <activity android:name="com.example.atlanticbakery.API_SalesLogs" />
        <activity android:name="com.example.atlanticbakery.SalesInventory_Received" />
        <activity android:name="com.example.atlanticbakery.SalesInventory_AvailableItems" />
        <activity android:name="com.example.atlanticbakery.UpdateActualEndingBalance" />
        <activity android:name="com.example.atlanticbakery.ItemInfo2" />
        <activity android:name="com.example.atlanticbakery.StoreAuditorSelected" />
        <activity android:name="com.example.atlanticbakery.ReceivedSap2" />
        <activity android:name="com.example.atlanticbakery.Counter1" />
        <activity android:name="com.example.atlanticbakery.ReceivedSap" />
        <activity android:name="com.example.atlanticbakery.Received" />
        <activity android:name="com.example.atlanticbakery.CancelRecTrans" />
        <activity android:name="com.example.atlanticbakery.ScanQRCode" />
        <activity android:name="com.example.atlanticbakery.ScanCode" />
        <activity android:name="com.example.atlanticbakery.Inventory" />
        <activity android:name="com.example.atlanticbakery.ShoppingCart" />
        <activity android:name="com.example.atlanticbakery.ItemInfo" />
        <activity android:name="com.example.atlanticbakery.CreateUsers" /> <!-- <activity android:name=".AvailableItems" /> -->
        <activity android:name="com.example.atlanticbakery.API_InventoryConfirmation" />
        <activity android:name="com.example.atlanticbakery.OfflineList" />
        <activity android:name="com.example.atlanticbakery.OfflineItems" />
        <activity android:name="com.example.atlanticbakery.CutOff" />
        <activity android:name="com.example.atlanticbakery.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.atlanticbakery.API_SalesLogsItems" />
        <activity android:name="com.example.atlanticbakery.MainActivity2" />
        <activity android:name="com.example.atlanticbakery.IPAddress" />
        <activity android:name="com.example.atlanticbakery.Nav" />
        <activity android:name="com.example.atlanticbakery.MainActivity" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>